@{
    ViewData["Title"] = "Home Page";
}
@model ORTPro.Models.Servicio

<div id="app">
    <div class="hello">
        <header class="masthead">
            <div class="container-fluid position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <h1 class="mb-1">Bienvenido a ORTPro!</h1>
                            <h4 class="mb-5">Conectamos necesidades con soluciones</h4>
                            <p>
                                Encontrá un profesional de manera rápida, confiable y segura
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <h2>¿Qué estás buscando?</h2>
        <p>Probá nuestro buscador de profesionales</p>
        <form id="buscador" class="form-inline buscadorEnBusqueda" action="/Profesionales/Buscador" method="get">
            <select name="servicio" id="servicio">
                @foreach (Servicio item in Enum.GetValues(typeof(Servicio)))
                {
                    <option>@item</option>
                }
            </select>
            <button type="submit" class="btn btn-outline-primary">Buscar</button>
        </form>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
            },
            methods: {
            }
        })
    </script>
}


<style>
    header.masthead {
        position: relative;
        background-color: #343a40;
        background: url("https://policyoptions.irpp.org/wp-content/uploads/sites/2/2019/03/WordPress-Image-1.jpg") no-repeat center center;
        background-size: cover;
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

        header.masthead:before {
            content: "";
            position: absolute;
            background-color: #1c375e;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: 0.5;
        }


</style>
